<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>
  <div class="cards-wrapper">
    <% @flats.each do |flat| %>
      <div class="card">
        <div class="card-img" style="background-image: url(<%= flat.picture_url%>)">
        </div>
        <div class="card-body">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <div class="card-icons">
            <i class="fas fa-user-friends">   <%= flat.number_of_guests %></i><i class="fas fa-dollar-sign">   <%= flat.price_per_night %></i>
          </div>
        </div>
        <div class="card-action">
          <%= link_to 'More info', flat_path(flat) %>
          |
          <%= link_to 'Edit', edit_flat_path(flat) %>
          |
          <%= link_to 'Remove', flat, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>

  </div>
</div>
