
<div class="form-wrapper">
  <%= simple_form_for (@flat) do |f| %>
      <h3>Add new Flat</h3>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <div class="submit">
        <%= f.submit "Publish", class: "btn transp-blue" %>
      </div>

  <% end %>

</div>
